*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto",sans-serif;
}  

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

header {
    width: 100%;
    position:relative;
    display:block;
  
}




div.ohmyfoodlogo {
    display:flex;
    justify-content:center;
    padding-top:8px;
    padding-bottom:8px;
    box-shadow:10px;
    
    
}

div.ohmyfoodlogo img{
    display:flex;
    width:147px;
    height:25.5px;
    
}


#ParisTextContainer {
    display:flex;
    justify-content:center;
    background-color: #e2e2e2;
    padding-top:10px;
    padding-bottom:10px;
    box-shadow: rgb(177, 177, 177) inset 0px 3px 3px 0px;
    
   
}

#ParisTextContainer h2 {
    font-size:medium;
}

span.LocationIconContainer{
    padding-right:10px;
    vertical-align:text-top;
}
div.ExploreSection {
    display:flex;
    background:#f2f2f2;
    padding-bottom:70px;
    padding-top:30px;
    height:max-content;
    font-size:12px;
    justify-content:center;


}

div.ExploreSectionContainer {
    display:flex;
    flex-direction:column;
    row-gap:30px;

}

h1#BookMenuText {
    display:flex;
    justify-content:center;
}

h2#DiscoverRestaurantsText {
    display:flex;
    justify-content:center;
    width:325px;
    text-align:center;
    font-weight:300;
}



.ExploreButtonContainer {
    display:flex;
    justify-content:center;

}

button.ExploreOurRestaurantsButton {
    background: linear-gradient(#FF79DA,#9356DC);
    color:white;
    border:none;
    width:max-content;
    border-radius:20px;
    padding:12px 22px;
    box-shadow:rgb(184, 184, 184) 0px 4px 8px 0px;
   
}

section.HowItWorksSection {
    display:block;
    padding-bottom:30px;
    padding-left:5.5%;
    padding-right:5.5%;

}

h2.HowItWorksHeader  {
    padding-bottom:30px;
    padding-top:30px;
}

div#HowItWorksStepsContainer {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:250px;
}

div#HowItWorksStepsContainer2 {
    display:flex;
    flex-direction:row;
    align-items:center;
}

div.IconAndText {
    background:#f2f2f2;
    border-radius:20px;
    padding-top:20px;
    padding-right:35px;
    padding-left:15px;
    padding-bottom:20px;
    width:100%;
    
   
}

span.NumberCirle {
    background-color:#9356DC;
    border-radius:20px;
    padding-top:5px;
    padding-right:10px;
    padding-left:10px;
    padding-bottom:5px;
    width:min-content;
    height:min-content;

}

span.NumberCircleContainer {
    position:relative;
    display:flex;
    justify-content:right;
    height:min-content;


}
i.fa-solid-fa-mobile-screen-button {
    
}

i.fa-solid-fa-list-ul{

}

i.fa-solid-fa-store {

}


section.RestaurantsSection {
    padding-left:5.5%;
    padding-right:5.5%;
    background:#f2f2f2;

}

div.RestaurantsHeaderContainer {
    padding-top:40px;
    padding-bottom:18px;
}
div.RestaurantsGalleryContainer {
    display:flex;
    flex-direction:column;
    
}

div.RestaurantsGallery {

    width: 100%;
    height: 270px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #ddd;
    border-radius: 16px;
    line-height: 18px;
    margin-bottom: 20px;
    font-size: 13px;
    display: flex;
}

div.RestaurantsGallery a {
    width:100%;
}


div.RestaurantsGallery img{
    width:100%;
    height:200px;  
    object-fit:cover;
    border-radius: 13px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
  
div.RestaurantsGalleryTextAndHeartContainer {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    padding-top:0px;
    padding-bottom:15px;
    padding-left:15px;
    color:black;

}

div.RestaurantsGalleryTextContainer {
    width:fit-content;
    display:flex;
    flex-direction:column;
}


div.HeartIconContainer {
    display:flex;
    height:100%;
    align-items:baseline;
    
    
}


i.fa-solid.fa-heart.fa-stack-1x {
    color:transparent;
}

i.fa-solid.fa-heart.fa-stack-1x:hover {
    background-clip:text;
    background:linear-gradient(#9356DC,#FF79DA );
    background:-moz-linear-gradient(top, #9356DC 100%,#FF79DA 0%);
    background:-webkit-linear-gradient(top, #9356DC 0%,#FF79DA 100%);
    background: linear-gradient( bottom,#9356DC 0%,#FF79DA 100%);
    -webkit-background-clip:text;
    -moz-background-clip:text;
    -webkit-text-fill-color:transparent;

}



div.HeartIconContainer:after{
    background-clip:text;
    background:-moz-linear-gradient(top, #9356DC 100%,#FF79DA 0%);
    background:-webkit-linear-gradient(top, #9356DC 0%,#FF79DA 100%);
    background: linear-gradient( bottom,#9356DC 0%,#FF79DA 100%);
    -webkit-background-clip:text;
    -moz-background-clip:text;
    -webkit-text-fill-color:transparent;

}

div#SolidHeart {
    display:relative;
    color:green;

}


div.RestaurantsGallery a {
    text-decoration:none;
}

.RestaurantsImageContainer {
    position:relative;

}

.NewButtonContainer {
    position:absolute;
    width:100%;
    display:flex;
    justify-content:flex-end;
    height:40px;
    padding-top:10px;
    padding-right:10px;

}

.NewButton {
    background:#99E2D0;
    color:#027153;
    width:80px;
    border:none;
    border-radius:2px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

footer.Footer {
    background:hsl(0, 0%, 20%);
    color:white;
    padding-left:5.5%;
    padding-right:5.5%;
}

div.ohmyfoodFooter h3 {
    font-family:"Shrikhand",sans-serif;
    font-weight:lighter;
    padding-top:20px;
    padding-bottom:20px;
}

.FooterPTextContainer {
    height:150px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding-bottom:40px;
}

footer.Footer  {
    font-size:13px;
}