*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto",sans-serif;
}  

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 

}

header {
    width: 100%;
    position:relative;
    display:block;
  
}




nav {
    display:flex;
    position:relative;
}

button {
    background:none;
    border:none;
    font-size:16px;
}

#BackArrowContainer {
    position:absolute;
    width:100%;
    display:flex;
    justify-content: left;
    align-items: center;
    height:100%;
    color:black;
    padding-left: 20px;
    font-size:17px;
    height:100%;

}


div.LogoAndArrowContainer {
    padding-top:8px;
    padding-bottom:8px;
}

div.ohmyfoodlogoContainer {
    display:flex;
    justify-content:center;
    padding-top:0px;
    box-shadow:10px 0px;
    position:relative;
    width:100%;
       
}

div.ohmyfoodlogoHomeContainer {
    padding-top:8px;
    padding-bottom:8px;
    display:flex;
    justify-content:center;
    box-shadow:10px 0px;
    position:relative;
    width:100%;
    
}


div.ohmyfoodlogoHomeContainer img{
    display:flex;
    width:147px;
    height:25.5px;
    
}



div.ohmyfoodlogoContainer img{
    display:flex;
    width:147px;
    height:25.5px;
    
}


#ParisTextContainer {
    display:flex;
    justify-content:center;
    background-color: #e2e2e2;
    padding-top:10px;
    padding-bottom:10px;
    box-shadow: rgb(177, 177, 177) inset 0px 3px 3px 0px;
    
   
}

#ParisTextContainer h2 {
    font-size:medium;
}

span.LocationIconContainer{
    padding-right:10px;
    vertical-align:text-top;
}
div.ExploreSection {
    display:flex;
    background:#f2f2f2;
    padding-bottom:70px;
    padding-top:30px;
    height:max-content;
    font-size:12px;
    justify-content:center;


}

div.ExploreSectionContainer {
    display:flex;
    flex-direction:column;
    row-gap:30px;

}

h1#BookMenuText {
    display:flex;
    justify-content:center;
}

h2#DiscoverRestaurantsText {
    display:flex;
    justify-content:center;
    width:325px;
    text-align:center;
    font-weight:300;
}



.ExploreButtonContainer {
    display:flex;
    justify-content:center;
  
}

button.ExploreOurRestaurantsButton {
    background: linear-gradient(#FF79DA,#9356DC);
    color:white;
    border:none;
    width:max-content;
    border-radius:20px;
    padding:12px 22px;
    box-shadow:rgb(184, 184, 184) 0px 4px 8px 0px;
   
}

button.ExploreOurRestaurantsButton:hover {
    background: linear-gradient(#ff7fdb,#af71fb);
    box-shadow:rgb(160, 160, 160) 0px 4px 8px 0px;
}

section.HowItWorksSection {
    display:block;
    padding-bottom:30px;
    padding-left:5.5%;
    padding-right:5.5%;

}

h2.HowItWorksHeader  {
    padding-bottom:30px;
    padding-top:30px;
}

div.HowItWorksStepsContainer {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:250px;
    position: relative;
   
}

div.HowItWorksStepsContainer2 {
    display:flex;
    flex-direction:row;
    align-items:center;
    position: relative;
  
}


div.IconAndText {
    background:hsl(0, 0%, 95%);
    border-radius:20px;
    padding-top:20px;
    padding-right:35px;
    padding-left:15px;
    padding-bottom:20px;
    width:100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
    
   
}

div.IconAndText:hover {
    background-color:hsl(271, 51%, 92%);

}

div.IconAndText:hover .IconContainer {
    color:#9356DC;
}


span.NumberCirle {
    background-color:#9356DC;
    border-radius:20px;
    padding-top:8px;
    padding-right:10px;
    padding-left:10px;
    padding-bottom:8px;
    width:30px;
    height:30px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items:center;
    color:white;
    font-size:13px;

}


span.NumberCircleContainer {
    position:absolute;
    top:15px;
    left: -14px;
    justify-content:left;
    height: 100%;
    width: 3%;
    align-items: center;
    background: none;  

}


.NumberInfront{
  position: absolute;

}

span.IconContainer {
  padding:15px;
  color:grey;

}

  



section.RestaurantsSection {
    padding-left:5.5%;
    padding-right:5.5%;
    background:#f2f2f2;

}

div.RestaurantsHeaderContainer {
    padding-top:40px;
    padding-bottom:18px;
}
div.RestaurantsGalleryContainer {
    display:flex;
    flex-direction:column;
    
}

div.RestaurantsGallery {

    width: 100%;
    height: 270px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #ddd;
    border-radius: 16px;
    line-height: 18px;
    margin-bottom: 20px;
    font-size: 13px;
    display: flex;
    flex-direction:column;
}

div.RestaurantsGallery a {
    width:100%;
}


div.RestaurantsGallery img{
    width:100%;
    height:200px;  
    object-fit:cover;
    border-radius: 13px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
  
div.RestaurantsGalleryTextAndHeartContainer {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    padding-top:0px;
    padding-bottom:15px;
    padding-left:15px;
    color:black;

}

div.RestaurantsGalleryTextContainer {
    width:fit-content;
    display:flex;
    flex-direction:column;
}


div.HeartIconContainer {
    display:flex;
    height:100%;
    align-items:baseline;
    
    
    
}


div.HeartIconContainerMenu {
    display:flex;
    height:100%;
    align-items:baseline;
}


i.fa-solid.fa-heart.fa-stack-1x {
    color:transparent;


}

i.fa-solid.fa-heart.fa-stack-1x:hover {
    background-clip:text;
    background:linear-gradient(#9356DC,#FF79DA );
    background:-moz-linear-gradient(top, #9356DC 100%,#FF79DA 0%);
    background:-webkit-linear-gradient(top, #9356DC 0%,#FF79DA 100%);
    background: linear-gradient(#9356DC 0%,#FF79DA 100%);
    -webkit-background-clip:text;
    -moz-background-clip:text;
    -webkit-text-fill-color:transparent;


}



div.HeartIconContainer:after{
    background-clip:text;
    background:-moz-linear-gradient(top, #9356DC 100%,#FF79DA 0%);
    background:-webkit-linear-gradient(top, #9356DC 0%,#FF79DA 100%);
    background: linear-gradient(#9356DC 0%,#FF79DA 100%);
    -webkit-background-clip:text;
    -moz-background-clip:text;
    -webkit-text-fill-color:transparent;

}






div.RestaurantsGallery a {
    text-decoration:none;
}

.RestaurantsImageContainer {
    position:relative;

}

.NewButtonContainer {
    position:absolute;
    width:100%;
    display:flex;
    justify-content:flex-end;
    height:40px;
    padding-top:10px;
    padding-right:10px;

}

.NewButton {
    background:#99E2D0;
    color:#027153;
    width:80px;
    border:none;
    border-radius:2px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size:18px;
    display:flex;
    justify-content:center;
    align-items:center;

}

span.FooterIcon {
    padding-right:0px;
    width:30px;
    display:flex;
}

footer.Footer {
    background:hsl(0, 0%, 20%);
    color:white;
    padding-left:5.5%;
    padding-right:5.5%;
    padding-bottom:90px;
}


div.ohmyfoodFooter h3 {
    font-family:"Shrikhand",sans-serif;
    font-weight:lighter;
    padding-top:20px;
    padding-bottom:20px;
}

div.FooterPTextContainer {
    height:150px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding-bottom:40px;
}

div.FooterInfoContainer {
    display:flex;

}

div.FooterPTextContainer a {
    color:white;
    text-decoration:none;
}
footer.Footer  {
    font-size:13px;
}




section#BackgroundAndMenu {
    position:relative;
    display:flex;
    flex-direction:column;
    background:#f2f2f2;
}

div.BackgroundImage {
    width:100%;
    height:min-content;
    position:absolute;

}

div.BackgroundImage img {
    object-fit:contain;
    height:min-content;
    width:100%;
    padding:0px;


}

div.RestaurantMenuTitle {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding-bottom:0px;
    padding-top:15px;

}

div.RestaurantNameContainer h1 {
    font-family:"Shrikhand",sans-serif;
    display:flex;
    font-size: 25px;
    padding-bottom: 0;
}

div.HeartIconContainerMenu {
    width:min-content;
    display:flex;
    align-items:baseline;
    justify-content:center;


}

div.HeartIconContainerMenu .fa-stack.fa-2x {
    display:flex;
    line-height:1em;
    height:1em;
}


div.MenuCourse {
    padding-bottom:30px;

}

div.CourseTitle {
    width:max-content;
    height:min-content;
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    margin-bottom:17px;
    position:relative;
    margin-top:25px;

}

div.CourseTitle::after{
    content:"";
    display:block;
    top:0;
    bottom:1px;
    width:50%;
    border-bottom:solid 2px #99E2D0;

}

div.MenuContainer {
    background:#f2f2f2;
    border-radius:33px;
    padding-top:20px;
    padding-right:15px;
    padding-left:15px;
    width:100%;
    display:flex;
    flex-direction:column;
    height:max-content;
    z-index:2;
    margin-top: 205px;

}

div.MenuContainer h2 {
    font-size:medium;
    font-weight:400;

    display:flex;
    flex-direction:column;
    justify-content: space-between;

    
}



div.MenuItemContainer {
    background:white;
    border-radius:15px;
    margin-bottom:13px;
    padding-right:0px;
    padding-left:0px;
    width:100%;
    height:fit-content;
    box-shadow: 0 4px 4px 0 rgba(151, 151, 151, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: row;
    position:relative;
}

div.MenuItemContainer {
    animation-name: slideinandfadein;
    animation-duration: 2.8s;


}
  

@keyframes slideinandfadein {
    
    from {opacity:0%; margin-top:9%}
    to {opacity:100%}

}

div.FoodTextContainer {
    width:92%;
    height:100%;
    background-color: white;
    border-radius:15px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    text-overflow:ellipsis;
    padding-bottom:15px;
   

}



div.FoodTextContainer:hover{
    width:80%;
    
}

div#TickIconContainer {
    width:100%;
    height:100%;
    justify-content:right;
    display:flex;
    position:absolute;
    align-items:center;
    font-size:28px;
    color:transparent;


}

div#TickIconContainer::before {
    color:transparent;


}


div#TickIconContainer:hover {
animation-name:Translate;
animation-duration:1s;
animation-fill-mode: forwards;

}


@keyframes Translate {
    from {
        transform:translateX(0); 
        transition-duration:2.4s;     
        color:white;  
        
    }

    to {
        transform:translateX(-5.7%);
        color:white;
        
    }
}



.fa-solid.fa-circle-check{
    width:28px;
    height:28px;
    display:flex;
    justify-content: right;
    align-items:center;
    
       
}

.fa-solid.fa-circle-check::before{
    width:28px;
    height:28px;
    display:flex;
    justify-content: right;
    align-items:center;

       
}

.fa-solid.fa-circle-check:hover{
   color:white;
     
}



div#TickIconContainer:hover .fa-solid.fa-circle-check {
    animation-name:Rotate;
    animation-duration:1s;
    animation-fill-mode: forwards;
    
    }
    

@keyframes Rotate{

    from {
    
        transform: rotate(0deg); 
        transition-property: transform;
        transition-duration:2.4s;
     
    }

    to {
    
        transform:rotate(360deg);
        color:white;
        

    }
    
    }
    



.GreenBlockBtn {
    width:100%;
    height:100%;
    display:flex;
    justify-content: left;
}



.MenuItemContainer:hover {
    background-color: #99E2D0;
    height:100%;
    
}

.FoodTextContainer:hover {
    width:82%;
    border-radius:15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: white;
    transition:0.5s;
}

.FoodTextContainer:hover div.FoodTitleAndDescriptionContainer{
    width:70%;
}




div.FoodTitleAndDescriptionContainer {
    width:82%;
    padding-left:10px;
    padding-top:10px;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    overflow-x:clip;
    white-space:nowrap;
    text-overflow:ellipsis;

    


}

div.FoodTitleAndDescriptionContainer:hover {
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow-x:hidden;
}

div.FoodTitleContainer  {
    overflow-x:hidden;
    text-overflow:ellipsis;

  
}

div.FoodTitleContainer:hover  {
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;


}

div.FoodDescriptionContainer {
    
    text-overflow:ellipsis;
    overflow-x:hidden;

}





div.Price {
    font-weight:700;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items:flex-end;
    width:20%;
    padding-right:15px;
    
}

div.PriceContainer {
    width:10px;
}





.OrderButtonContainer {
    display:flex;
    justify-content:center;
    padding-bottom:70px;


}

button.OrderButton {
    background: linear-gradient(#FF79DA,#9356DC);
    color:white;
    border:none;
    width:170px;
    border-radius:20px;
    padding:12px 22px;
    box-shadow:rgb(184, 184, 184) 0px 4px 8px 0px;
   
}

button.OrderButton:hover {
    background: linear-gradient(#ff7fdb,#af71fb);
    box-shadow:rgb(160, 160, 160) 0px 4px 8px 0px;
}

div.Loader {
    position:fixed;
    z-index:2;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background:rgba(128, 128, 128, 0.861);
    visibility:hidden;
    overflow:visible;
    opacity:0;
    animation-name:FadeOut;
    animation-duration:2s;
    animation-iteration-count:1;
  

}

@keyframes FadeOut {
    from {opacity:1; visibility:visible;}
    50% {opacity:0}
    to {opacity:0}
}




.Loader::after {
    content:"";
    width:75px;
    height:75px;
    border:15px solid white;
    border-top-color:#027153;
    border-radius:50%;
    animation-name:Loading;
    animation-duration:0.9s;
    animation-iteration-count:1;
    animation-timing-function: ease;

}



@keyframes Loading {
    from {transform:rotate(0turn)}
    to {transform:rotate(1turn);}
}










@media  screen and ( min-width:769px) and (max-width:1180px) {
div.ohmyfoodlogoContainer {
    display:flex;
    justify-content:center;
    padding-top:18px;
    padding-bottom:18px;
    box-shadow:0px 0px;
    position:relative;
    width:100%;
}

div.ohmyfoodlogoHomeContainer {
    display:flex;
    justify-content:center;
    padding-top:26px;
    padding-bottom:26px;
    box-shadow:0px 0px;
    position:relative;
    width:100%;
}




div.ohmyfoodlogoContainer img{
    display:flex;
    width:176.4px;
    height:30.6px;

}

div.ohmyfoodlogoHomeContainer img{
    display:flex;
    width:176.4px;
    height:30.6px;

}



div.ohmyfoodlogoContainer a {
    z-index:3;
    position:relative;
}

div.HowItWorksHeader {
    display:flex;
    justify-content:center;

}

h2.HowItWorksHeader  {
    padding-bottom:30px;
    padding-top:30px;
    margin-bottom:20px;
    

  
} 

div.IconAndText {
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius: 45px;
    font-size:20px;
    width:470px;
    background-color:rgb(246, 246, 246);
    padding-right:15px;

}

div.HowItWorksHeaderContainer {
    display:flex;
    justify-content: center;
    margin-bottom:40px;
    
}

div.HowItWorksStepsContainer2 {
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin-bottom:70px;

  
  
}

span.NumberCircleContainer {
    top: -50px;
    left:unset;
     
}



section.HowItWorksSection {
    display:flex;
    justify-content:center;
    height:fit-content;
    flex-direction:column;

    
}



section.RestaurantsSection {
    border-radius:0px;
    padding-bottom:60px;
    margin-bottom:0px;
    margin-top:190px;
    padding-right:0px;
    padding-left:4%;


}

div.RestaurantsHeaderContainer {
    padding-bottom:30px;
    font-size:18px;

}

div.RestaurantsGallery {
    margin-bottom:40px;
    width:46%;
    margin-right:4%;
  
}

div.RestaurantsGalleryContainer {
    flex-direction:row;
    flex-wrap:wrap;
    


}




div.ExploreSection {

    padding-bottom:35px;

}

div.FooterPTextContainer {
    height:100px;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    width:700px;
    flex-wrap:wrap;

}

div.FooterInfoContainer {
    width:250px;
    
}


div#BackArrowContainer {
    width:300px;
    
}

i.fa-solid.fa-arrow-left {
    font-size:30px;
    display:none;
    
}





div.BackgroundImage {
    position:unset;
    margin:0px;
    padding-bottom:0px;
    height:300px;

    
    
}

div.BackgroundImage img {
    height:300px;
    object-fit:cover;
    margin:0px;
    padding:0px;

}

section#BackgroundAndMenu {
    align-items:center;
    flex-direction:column;
    background:white;

}

div.MenuContainer {
    padding-left:4%;
    padding-right:4%;
    width:80%;
    margin:0px;
    background:white;
    border-radius:0px;
 
     
}

div.MenuItemContainer {
    background:white;
    margin-bottom:20px;
    height:86px;

}



div.FoodTextContainer {
    background:white;
    line-height:28px;
    padding-left:10px;
}

div.CourseTitle h2 {
    font-size:18px;
}

div.MenuCourse {
    display:flex;
    flex-direction:column;

}

@keyframes Translate {
    from {
        transform:translateX(0); 
        transition-duration:2.4s;     
        color:white;  
        
    }

    to {
        transform:translateX(-9.1%);
        color:white;
        
    }
}

div.MenuItemContainer:hover {
    height:86px;

}

div.RestaurantNameContainer h1 {
    font-size: 30px;

}

button.OrderButton {
   font-size:18px;
}

div.CourseTitle::after {
    margin-bottom:18px;
}

}






@media screen and (min-width:1181px) {

    div.ohmyfoodlogoContainer {
        display:flex;
        justify-content:center;
        padding-top:18px;
        padding-bottom:18px;
        box-shadow:0px 0px;
        position:relative;
        width:100%;
    }
    
    div.ohmyfoodlogoHomeContainer {
        display:flex;
        justify-content:center;
    
        padding-top:26px;
        padding-bottom:26px;
        box-shadow:0px 0px;
        position:relative;
        width:100%;
    }
    
    
    
    
    div.ohmyfoodlogoContainer img{
        display:flex;
        width:176.4px;
        height:30.6px;
    
    }
    
    div.ohmyfoodlogoHomeContainer img{
        display:flex;
        width:176.4px;
        height:30.6px;
    
    }
    
    
    
    div.ohmyfoodlogoContainer a {
        z-index:3;
        position:relative;
    }
    
    h2.HowItWorksHeader  {
        padding-bottom:30px;
        padding-top:30px;
    } 
    
    div.HowItWorksStepsContainer {
        flex-direction:row;
        height:min-content;
        
    }
    
    div.IconAndText {
        width:300px;
        margin-right:15px;
    }
    
    
    
    
    div#HowItWorksStepsContainer2 {
        align-items:unset;
        position: relative;
    
    
    }
    
    
    
    section.RestaurantsSection {
        border-radius:30px;
        padding-left:40px;
        padding-right:20px;
        padding-bottom:60px;
        margin-bottom:50px;
    
    
    }
    
    div.RestaurantsGalleryTextAndHeartContainer {
        width:100%;
        font-size:16px;
    }
    
    div.RestaurantsGalleryTextContainer {
        height:90px;
        padding-top:10px;
        line-height:21px;
    }
    
    div.RestaurantsGalleryContainer {
        flex-direction:row;
        justify-content:space-between;
     
    }
    
    div.RestaurantsGallery {
        width:250px;
        height:320px;
        position:sticky;
        margin-right:20px;
        
    }

  

    main {
        padding-left:4%;
        padding-right:4%;
    }
    
    div.ExploreSection {
    
        padding-bottom:30px;
    
    }
    
    div.FooterPTextContainer {
        height:100px;
        display:flex;
        flex-direction:row;
        justify-content:flex-start;
        width:700px;
        flex-wrap:wrap;
    
    }
    
    div.FooterInfoContainer {
        width:250px;
        
    }
    
    
    div#BackArrowContainer {
        width:300px;
        
    }
    
    i.fa-solid.fa-arrow-left {
        font-size:30px;
        display:none;
        
    }
    
    
    
    
    
    div.BackgroundImage {
        position:unset;
        margin:0px;
        padding-bottom:0px;
        height:300px;
    
        
        
    }
    
    div.BackgroundImage img {
        height:300px;
        object-fit:cover;
        margin:0px;
        padding:0px;
    
    }
    
    section#BackgroundAndMenu {
        align-items:center;
        flex-direction:column;
        background:white;
    
    }
    
    div.MenuContainer {
        padding-left:4%;
        padding-right:4%;
        width:80%;
        margin:0px;
        background:white;
        border-radius:0px;
     
         
    }
    
    div.MenuItemContainer {
        background:white;
        margin-bottom:20px;
        height:86px;
    
    }
    
    
    
    div.FoodTextContainer {
        background:white;
        line-height:28px;
        padding-left:10px;
    }
    
    div.CourseTitle h2 {
        font-size:18px;
    }
    
    div.MenuCourse {
        display:flex;
        flex-direction:column;
    
    }
    
    @keyframes Translate {
        from {
            transform:translateX(0); 
            transition-duration:2.4s;     
            color:white;  
            
        }
    
        to {
            transform:translateX(-9.1%);
            color:white;
            
        }
    }
    
    div.MenuItemContainer:hover {
        height:86px;
    
    }
    
    div.RestaurantNameContainer h1 {
        font-size: 30px;
    
    }
    
    button.OrderButton {
       font-size:18px;
    }
    
    div.CourseTitle::after {
        margin-bottom:18px;
    }
    }
